<script>
  import { Grid, Button, Text, Heading } from "fvscl";
  import Search from "./Search.svelte";
  import Areas from "./Areas.svelte";
  import ListOfResults from "./ListOfResults.svelte";
</script>

<style>
  :global(.top) {
    grid-template-areas: "logo search signin" ". areas .";
    border-bottom: var(--border-width-base) solid var(--input-border-color);
  }
  .logo {
    grid-area: logo;
    align-self: center;
    padding-left: var(--gap);
  }
  .search {
    grid-area: search;
    align-self: center;
  }
  .signin {
    grid-area: signin;
    justify-self: end;
    padding: var(--gap);
  }
  .areas {
    grid-area: areas;
  }
  :global(.results) {
    grid-template-areas: ". number ." ". list .";
  }
  .number {
    grid-area: number;
  }
  .list {
    grid-area: list;
  }
</style>

<main>
  <Grid class="top" density="tight" templateColumns="1fr 5fr 3fr">
    <div class="logo">
      <Heading margin="none" level="3">fvscl</Heading>
    </div>
    <div class="search">
      <Search />
    </div>
    <div class="signin">
      <Button style="primary" size="sm">Sign in</Button>
    </div>
    <div class="areas">
      <Areas />
    </div>
  </Grid>
  <Grid class="results" density="tight" templateColumns="1fr 5fr 3fr">
    <div class="number">
      <Text margin="top" secondary fontSize="sm">
        About 960,000,000 results (0.40 seconds)
      </Text>
    </div>
    <div class="list">
      <ListOfResults />
    </div>
  </Grid>
</main>
