<script>
  import { List, ListItem, Text } from "fvscl";
</script>

<style>
  span {
    display: flex;
    align-items: center;
  }
  .highlight {
    font-weight: var(--font-weight-bold);
    color: var(--color-primary);
  }
</style>

<List horizontal margin="bottom">
  <ListItem>
    <span class="highlight">
      <object type="image/svg+xml" data="icons/globe.svg" title="" />
      <Text fontSize="sm" margin="left">All</Text>
    </span>
  </ListItem>
  <ListItem>
    <span>
      <object type="image/svg+xml" data="icons/news.svg" title="" />
      <Text fontSize="sm" margin="left">News</Text>
    </span>
  </ListItem>
  <ListItem>
    <span>
      <object type="image/svg+xml" data="icons/aperture.svg" title="" />
      <Text fontSize="sm" margin="left">Images</Text>
    </span>
  </ListItem>
  <ListItem>
    <span>
      <object type="image/svg+xml" data="icons/movie.svg" title="" />
      <Text fontSize="sm" margin="left">Videos</Text>
    </span>
  </ListItem>
  <ListItem>
    <span>
      <object type="image/svg+xml" data="icons/book.svg" title="" />
      <Text fontSize="sm" margin="left">Books</Text>
    </span>
  </ListItem>
  <ListItem>
    <span>
      <object type="image/svg+xml" data="icons/dots-vertical.svg" title="" />
      <Text fontSize="sm" margin="left">More</Text>
    </span>
  </ListItem>
</List>
