<script>
  import { List, ListItem, Text, Heading, Grid } from "fvscl";
</script>

<style>
  div {
    color: var(--color-primary);
  }
</style>

<List density="loose">
  <ListItem>
    <Text fontSize="sm">www.wikipedia.org</Text>
    <div>
      <Heading level="4">Wikipedia</Heading>
    </div>
    <Text>
      <strong>Wikipedia</strong>
      is a free online encyclopedia, created and edited by volunteers around the
      world and hosted by the Wikimedia Foundation.
    </Text>
  </ListItem>
  <ListItem>
    <Text fontSize="sm">en.wikipedia.org › wiki › Main_Page</Text>
    <div>
      <Heading level="4">Wikipedia, the free encyclopedia</Heading>
    </div>
    <Text>
      The Razing of Friesoythe took place on 14 April 1945 towards the end of
      World War II. The 4th Canadian (Armoured) Division, advancing into
      north-west ...
    </Text>
    <List fontSize="sm" density="tight" horizontal>
      <ListItem>
        <div>‎Coronavirus</div>
      </ListItem>
      <ListItem>
        <div>‎2019–20 coronavirus pandemic</div>
      </ListItem>
      <ListItem>
        <div>‎Wikipedia:Introduction</div>
      </ListItem>
      <ListItem>
        <div>‎Free content</div>
      </ListItem>
    </List>
  </ListItem>
  <ListItem>
    <Text fontSize="sm">en.wikipedia.org › wiki › Wikipedia</Text>
    <div>
      <Heading level="4">Wikipedia - Wikipedia</Heading>
    </div>
    <Text>
      <strong>Wikipedia</strong>
      (/ˌwɪkɪˈpiːdiə/ ( About this sound listen) wik-ih-PEE-dee-ə or
      /ˌwɪkiˈpiːdiə/ ( About this sound listen) wik-ee-PEE-dee-ə) (abbreviation:
      "WP", ...
    </Text>
    <Grid density="tight" templateColumns="1fr 1fr">
      <Text margin="none" fontSize="sm" secondary>
        Owner‎: ‎Wikimedia Foundation
      </Text>
      <Text margin="none" fontSize="sm" secondary>
        Launched‎: ‎January 15, 2001; 19 years ago
      </Text>
      <Text margin="none" fontSize="sm" secondary>
        Created by‎: ‎Jimmy Wales‎; ‎Larry Sanger
      </Text>
      <Text margin="none" fontSize="sm" secondary>
        Available in‎: ‎285 languages
      </Text>
    </Grid>
  </ListItem>
  <ListItem>
    <Text fontSize="sm">en.wikipedia.org › wiki › English_Wikipedia</Text>
    <div>
      <Heading level="4">English Wikipedia - Wikipedia</Heading>
    </div>
    <Text>
      The English
      <strong>Wikipedia</strong>
      is the English-language edition of the free online encyclopedia
      <strong>Wikipedia</strong>
      . Founded on 15 January 2001, it is the first edition of Wikipedia ...
    </Text>
    <Grid density="tight" templateColumns="1fr 1fr">
      <Text margin="none" fontSize="sm" secondary>
        Users‎: ‎38,616,780 users, 1,146 administrators
      </Text>
      <Text margin="none" fontSize="sm" secondary>
        Launched‎: ‎January 15, 2001; 19 years ago
      </Text>
      <Text margin="none" fontSize="sm" secondary>
        Created by‎: ‎Jimmy Wales‎; ‎Larry Sanger
      </Text>
      <Text margin="none" fontSize="sm" secondary>
        Owner‎: ‎Wikimedia Foundation
      </Text>
    </Grid>
  </ListItem>
  <ListItem>
    <Text fontSize="sm">https://twitter.com/Wikipedia</Text>
    <div>
      <Heading level="4">Wikipedia (@Wikipedia) · Twitter</Heading>
    </div>
    <Text>
      Stirling Moss, described by some as "the greatest driver never to win the
      World Championship," has died at the age of 90. w.wiki/Mgn
      pic.twitter.com/nwZuI4g…
    </Text>
  </ListItem>
  <ListItem>
    <Text fontSize="sm">en.wikipedia.org › wiki › Wikipedia:About</Text>
    <div>
      <Heading level="4">Wikipedia:About - Wikipedia</Heading>
    </div>
    <Text>
      Wikipedia's articles provide links designed to guide the user to related
      pages with additional information. Wikipedia is written collaboratively by
      largely anonymous ...
    </Text>
  </ListItem>
  <ListItem>
    <Text fontSize="sm">simple.wikipedia.org › wiki › Main_Page</Text>
    <div>
      <Heading level="4">Simple Wikipedia</Heading>
    </div>
    <Text>
      The Simple English Wikipedia is for everyone! That includes children and
      adults who are learning English. There are 158,402 articles on the Simple
      English ...
    </Text>
  </ListItem>
  <ListItem>
    <Text fontSize="sm">meta.wikimedia.org › wiki › List_of_Wikipedias</Text>
    <div>
      <Heading level="4">
        List of Wikipedias - Meta - Meta-Wiki - Wikimedia
      </Heading>
    </div>
    <Text>
      The table entries are ordered by current article count. Each entry gives
      the language name in English (linked to the English Wikipedia article for
      the language), its " ...
    </Text>
  </ListItem>
</List>
