<script>
  import { Input } from "fvscl";
</script>

<style global>
  div {
    --input-border-radius: 3em;
    position: relative;
  }
  img {
    font-size: var(--font-size-xl);
    position: absolute;
    right: var(--gap);
    transform: translateY(50%);
  }
</style>

<div>
  <img src="icons/search.svg" alt="Search" />
  <Input defaultValue="Wikipedia" />
</div>
